.header-container{
    background: url("../img/code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(17, 14, 14, 0.55);
    background-blend-mode: color;
    font-family: 'Lato', sans-serif;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    color: white;

}

.titulo-principal {

    font-size: 1.5rem;
    margin-bottom: 2%;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.paragrafo-principal {
    text-align: justify;
    width: 40%;
    color: rgb(202, 198, 198);

}

.veja-mais {
    margin-top: 3%;
    width:10%;
    
}

.veja-mais a {
    background:rgb(44, 42, 42);
    text-decoration: none;
    padding: 10%;
    color: white;
    border: white;
    border-width: 1%;
    border-style: double;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.veja-mais  :hover {

    background: white;
    color: black;
}