.header-container{
    background: url("../img/code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(17, 14, 14, 0.55);
    background-blend-mode: color;
    font-family: 'Lato', sans-serif;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    color: white;


}

.titulo-principal {

    font-size: 1.5rem;
    margin-bottom: 2%;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.paragrafo-principal {
    text-align: center;
    width: 40%;
    color: rgb(202, 198, 198);

}

.veja-mais {
    margin-top: 3%;
    width:10%;
    
}

.veja-mais a {
    background:rgb(44, 42, 42);
    text-decoration: none;
    padding: 10%;
    color: white;
    border: white;
    border-width: 1%;
    border-style: double;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.veja-mais  :hover {

    background: white;
    color: black;
}

.container-descricao {

    background: rgb(248, 236, 236);
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.container-titulo-secundario {

    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-titulo-secundario h2 {

    font-size: 1.5rem;
    font-weight: bold;
}

.container-texto-descricao {

    display: flex;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.container-texto-descricao p {

    margin-left: 5%;
    text-align: center;
    font-size: 1rem;
}

.container-solucoes {

    display: flex;
    background: rgb(19, 17, 17, 0.8);
    justify-content: space-around;
    height: 80vh;
    padding-right: 15%;
    padding-left: 15%;
    font-family: 'Lato', sans-serif;
    
}

.item-solucoes {
    background: rgb(248, 236, 236);
    height: 80%;
    width: 20vw;
    margin-top: 6%;
    
   

}



.img-solucoes {

    width: 100%;
    height: 40%;
}

.titulos-solucoes {

    font-size: 1.2rem;
    margin-top: 10%;
    font-weight: bold;
    text-align: center;
}

.paragrafo-solucoes {
    font-size: 0.8rem;
    margin-top: 8%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.1rem;
}


.container-slogan {
    background: rgb(248, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.titulo-slogan {

    margin: 3% 0 3% 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.paragrafo-slogan {

    font-size: 1rem;
    text-align: center;

    margin-bottom: 5%;
}

.contato {

    display: flex;
    font-family: 'Lato', sans-serif;
}

.items-contato1, .items-contato2 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-contato1 h3, .items-contato2 h3 {

    font-size: 1.5rem;
    margin: 3% 0 3% 0;
    font-weight: bold;
}

.items-contato1 p, .items-contato2 p {
    font-size: 1rem;
    margin: 3%;
    text-align: center;
}


.items-contato1 {

    background:rgb(48, 79, 219, 0.9);
    color: white;
}

.items-contato2 {

    background: rgb(19, 17, 17, 0.8);
    color: white;
}


.footer  {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.footer p {

    margin: 1% 0 1% 0 ;
    font-size: 0.8rem;
}

.footer p a {

    
    color: white;

}

